body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
}

main {
  margin: auto auto;
}

h1 {
  font-size: 25px;
  font-weight: 400;
  font-family: sans-serif;
  text-align: center;
  margin: 20px 0 0 0;
}

h2 {
  font-size: 19px;
  font-weight: 400;
  font-family: sans-serif;
  text-align: center;
  margin: 10px 0 0 0;
}

#container {
  margin: auto auto;
  width: fit-content;
  position: relative;
}

#legend {
  width: fit-content;
  margin: auto auto;
  display: flex;
  justify-content: center;
}

#tooltip {
  visibility: hidden;
  width: fit-content;
  height: auto;
  background-color: #7678ed;
  border-radius: 5px;
  padding: 5px;
  opacity: 80%;
  position: fixed;
}
